
/Cocktail App/Cocktail App.xcodeproj/project.xcworkspace/xcuserdata
/Cocktail App/Cocktail App.xcodeproj/project.xcworkspace/xcuserdata
/Cocktail App/Cocktail App.xcodeproj/xcuserdata/cze.xcuserdatad
